#card{
    border: 2px solid purple;
    height: 500px;
    width: 400px;
    text-align: center;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease; 
}
#card:hover{
     transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-color: #007bff;
}